.new-list-form {
    margin: 1em;
}

.new-list-form input {
    height: 26px;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
    background-color: white;
}

.new-list-form input[type=text] {
    width: 200px;
}

.new-list-form input[type=submit] {
    width: 26px;
    cursor: pointer;
}

.new-list-form input[type=submit]:hover {
    border: 1px solid #000;
}

#list-container {
    display: flex;
    gap: 10px;
    margin: 1em;
}

.deal-list {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}

.deal-list .title {
    display: flex;
    align-items: center;
    gap: 4px;
}

.deal-list .title input {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
}

.deal-list .title input:focus,
.deal-list .title input:hover {
    border: 1px solid #000;
}

.deal-list .title button {
    border-radius: 4px;
    width: 28px;
    height: 28px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
}

.deal-list .title button:hover {
    border: 1px solid #000;
}

.deal-list .create-btn {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 4px;
}

.deal-list .create-btn:hover {
    border: 1px solid #000;
}

.sortable-deal-list {
    min-height: 150px;
    padding-left: 0;
}

.sortable-deal-list li {
    list-style: none;
}

.deal,
.ghost-deal {
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
    cursor: move;
    display: flex;
    justify-content: space-between;
}

.deal:hover {
    border: 1px solid #000;
}

.deal p,
.ghost-deal p {
    pointer-events: none;
    margin: 0;
}

.deal p::selection {
    background-color: inherit;
    color: inherit;
}

.deal .edit {
    color: #acc2f4;
}

.ghost-deal {
    background-color: #acc2f4;
}

.ghost-deal .edit {
    display: none;
}
