{% extends "common/base.html" %}

{% load static %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="{% static 'crm/contacts.css' %}" />
{% endblock %}

{% block content %}
<a href="/contacts/new">{% translate 'New contact' %}</a>

{% for person in people %}
<div class="contact">
    <div class="contact-title">
        {{ person.first_name }} {% if person.last_name %}{{ person.last_name }}{% endif %}
        <a href="/contacts/edit/{{ person.id }}/">
            <img src="{% static 'crm/pen-to-square-solid.svg' %}" width="12px" height="12px" />
        </a>
    </div>
    {% if person.company %}
        <p>
            <img src="{% static 'crm/building-regular.svg' %}" width="12px" height="12px" />
            {{ person.company }}
        </p>
    {% endif %}
    {% if person.phone %}
        <p>
            <img src="{% static 'crm/phone-solid.svg' %}" width="12px" height="12px" />
            {{ person.phone }}
        </p>
    {% endif %}
    {% if person.email %}
        <p>
            <img src="{% static 'crm/envelope-solid.svg' %}" width="12px" height"12px" />
            {{ person.email }}
        </p>
    {% endif %}
    {% if person.delivery_address %}
        <p>
        <img src="{% static 'crm/location-dot-solid.svg' %}" width="12px" height="12px" />
            {{ person.delivery_address }}
        </p>
    {% endif %}
</div>
{% endfor %}

{% if people.count == 0 %}
<p>{% translate 'No contacts' %}</p>
{% endif %}

{% endblock %}
