{% extends "common/base.html" %}

{% load static %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="{% static 'crm/deals.css' %}" />
{% endblock %}

{% block content %}

<form method="POST" action="/crm/deals/" class="new-list-form">
    <h2>{% translate 'New deal list' %}</h2>
    {% csrf_token %}
    {{ new_deal_form }}
    <button type="submit">
        <img src="{% static 'crm/plus-solid.svg' %}" width="12px" height="12px" />
    </button>
</form>

<hr />

<div id="list-container">
    {% for deal_list in deal_lists %}
        <div class="deal-list">
            <form class="title" onsubmit="patch_deal_list(event, {{ deal_list.id }}, '{{ csrf_token }}')">
                <input name="title" value="{{ deal_list.title }}" />
                <button type="submit">
                    <img src="{% static 'crm/floppy-disk-regular.svg' %}" width="12px" height="12px" />
                </button>
                <button type="button" onclick="delete_deal_list('{{ csrf_token }}', {{ deal_list.id }})">
                    <img src="{% static 'crm/trash-solid.svg' %}" width="12px" height="12px" />
                </button>
            </form>
            <button class="create-btn" onclick="window.location.href='/crm/new-deal/?list={{ deal_list.id }}'">
                <img src="{% static 'crm/plus-solid.svg' %}" width="12px" height="12px" />
                {% translate 'Create a deal' %}
            </button>

            <ul class="sortable-deal-list" data-id="{{deal_list.id}}" csrf="{{ csrf_token }}">
            {% for deal in deal_list.deals.all %}
            <li class="deal" data-id="{{deal.id}}">
                <p>{{ deal.title }}</p>
                <a class="edit" href="/crm/edit-deal/{{deal.id}}/">
                    <img src="{% static 'crm/pen-to-square-solid.svg' %}" width="12px" height="12px" />
                </a>
            </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
    {% if deals_without_list.count > 0 %}
    <div class="deal-list">
        <div class="title">
            {% translate 'Deals without list' %}
        </div>
        <ul class="sortable-deal-list" data-id="-1" csrf="-1">
        {% for deal in deals_without_list %}
            <li class="deal" data-id="{{deal.id}}">
                {{ deal.title }}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

<script src="{% static 'crm/deals.js' %}" ></script>
<script src="{% static 'crm/sortable-1.15.0.min.js' %}"></script>
{% endblock %}
