{% extends "common/base.html" %}

{% load static %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="{% static 'crm/css/forms.css' %}" />
{% endblock %}

{% block content %}
<div class="page">
    <form method="POST" action="{{submit_url}}">
        {% csrf_token %}
        {{ deal_form.as_p }}
        <input type="submit" value="{% translate 'Save' %}" />
        {% if deal_id != -1 %}
            <button type="button" onclick="location.href='/deals/delete/{{ deal_id }}/'">{% translate 'Delete' %}</button>
        {% endif %}
    </form>
</div>

<script src="{% static 'crm/js/new-deal.js' %}"></script>
{% endblock %}
