{% extends "common/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'crm/deals.css' %}" />
{% endblock %}

{% block content %}

<form method="POST" action="/crm/api/lists/" class="new-list-form">
    <h2>New deal list</h2>
    {% csrf_token %}
    {{ new_deal_form }}
    <input type="submit" value="+" />
</form>

<hr />

<div id="list-container">
    {% for deal_list in deal_lists %}
        <div class="deal-list">
            <form class="title" onsubmit="patch_deal_list(event, {{ deal_list.id }}, '{{ csrf_token }}')">
                <input name="title" value="{{ deal_list.title }}" />
                <button type="submit">s</button>
                <button type="button" onclick="delete_deal_list('{{ csrf_token }}', {{ deal_list.id }})">d</button>
            </form>
            <button class="create-btn" onclick="window.location.href='/crm/new-deal/?list={{ deal_list.id }}'">
                Create a deal
            </button>
        </div>
    {% endfor %}
</div>

<script src="{% static 'crm/deals.js' %}" ></script>
{% endblock %}
