{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% translate 'Yenisei CRM' %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'common/base.css' %}" />
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
        <a href="/crm/deals/"><h1>{% translate 'Yenisei CRM' %}</h1></a>
        <a href="/crm/deals/">{% translate 'Deals' %}</a>
        <a href="/crm/contacts/">{% translate 'Contacts' %}</a>
        <a href="/accounts/logout/">{% translate 'Log out' %}</a>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
